#c {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1; 
  }
.body{
    margin: 0;
}
.footer{
    margin: 0;
}
.canvas{
    display:block;
}
.Mcontainer{
    display:grid;
    grid-template-columns: 1fr, 1fr;
    width:80%;
    margin:auto;
}
.container1{
    background-color: #FFE185;
    
}
.title{
    margin:auto;
    font-family:Cambria;
    padding: 10px;
    width: 50%;
    text-align: center;
}