

.body{
    margin: 0;
}
.footer{
    margin: 0;
}
.webgl{
    position: absolute;
    top: 0;
    left: 0;
}
.container{
    position: absolute;
    height: 30%; 
    top: 30%;
    left: 60%;
    right: 10%;
    display:grid;
    place-items: center;
    /*z-index: 100;*/
    /*mix-blend-mode: exclusion;*/
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;    
}

.next{
    position: absolute;
    

}

.text{
    text-align: justify;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}



.overlay{
    display:grid;
}

.title{
    margin:auto;
    font-family:Cambria;
    padding: 10px;
    width: 50%;
    text-align: center;
}


