.body{
    margin: 0;
}
.footer{
    margin: 0;
}
.canvas{
    display:block;
}
.Mcontainer{
    width:80%;
    margin:auto;
}
.title{
    margin:auto;
    font-family:Cambria;
    padding: 10px;
    width: 50%;
    text-align: center;
}